{% extends 'glowny.html' %}


{% block title %} Lista filmów {% endblock %}


{% block body %}

    {% if user.is_authenticated %}
         Witam {{user.username}} <br>
         <button><a href="{% url 'logout' %}">Logout</a></button>
    {% else %}
         <button><a href="{% url 'login' %}">Login</a></button>
    {% endif %}



    <p class="red">Lista filmów</p>
<ul>
    {% for film in filmy %}
    <li> {{film}}</li>
    <p>{{film.description}}</p>
    <button><a href="{% url 'edytuj_film' film.id %}">Edytuj</a></button>
    <button><a href="{% url 'usun_film' film.id %}">Usuń Film</a></button>
    {% endfor %}
</ul>

<h2>Czy chcesz dodać nowy film?</h2>
    <button><a href="{% url 'nowy_film' %}" >Dodaj</a></button>

{% endblock %}